.logo-np {
  color: white;
  margin: 0;
  height: 50px;
  overflow: hidden;
  width: auto;
  line-height: normal;
}

.logo-np a {
  text-decoration: none;
  font-size: var(--size-min);
}

.logo-np img {
  height: 100%;
  width: auto;
}
