
.banner {
  height: 640px;
  lost-center: 100%;
  background: var(--gray-base);
  position: relative;
}

.slide-gallery {
  width: 100%;
  height: 100%;
  background: black;
}

.slide-item {
  width: 100%;
  height: 100%;
  background: red;
  display: none;
}

.slide-item.active {
  display: block;
}

.slide-item:nth-child(2) {
  background: blue;
}

.slide-item:nth-child(3) {
  background: green;
}

.slide-info {
  display: flex;
  padding: calc(var(--space-large)*2) 6%;
  flex-direction: column;
  justify-content: space-between;
  min-height: 160px;
}

.slide-info h2 {
  font-size: var(--size-small);
}

.slide-info p {
  font-size: var(--size-min);
  max-width: 200px;
}


/*navegação lateral*/

.slide-nav-prev,
.slide-nav-next {
  position: absolute;
  left: 6%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(var(--space-base)/2) 0;
  border: var(--border-base);
  width: 80px;
  text-align: center;
  font-size: var(--size-small);
  transition: var(--transition-base);
}

.slide-nav-prev i,
.slide-nav-next i {
  display: block;
  width: 10px;
}


.slide-nav-prev {
  top: 220px;
}

.slide-nav-next {
  top: 260px;
}

/*navegação inferior*/

.slide-navegation {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding: 0;
  text-align: center;
}

.slide-nav-item {
  width: 10px;
  height: 10px;
  margin: 0 15px;
  border-radius: 50%;
  display: inline-block;
}

.slide-nav-item a {
  width: 100%;
  height: 100%;
  background: white;
  display: block;
}


@media (--screen-mobile) {

  .slide-nav-prev,
  .slide-nav-next {
    display: none;
  }

}
