.box-flexible {
  width: 100%;
}

.flexible-item {
  width: 100%;
  border: var(--border-form);
  border-bottom: 0;
  font-size: var(--size-small);
}

.flexible-item:last-child {
  border-bottom: var(--border-form);
}

.flexible-head {
  padding: var(--space-base);
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.flexible-head svg {
  fill: black;
}

.flexible-content {
  padding: var(--space-base);
  padding-top: 0;
}
