
.form-wrap {
  width: auto;
  display: inline-block;
}

.form-wrap input {
  border: none;
  width: 90%;
}

.form-wrap button {
  width: 5%;
  box-sizing: border-box;
  display: inline-block;
}

.form-wrap .form-inline {
  border: var(--border-base);
  width: 260px;
}
