.logo-np {
  color: white;
  margin: 0;
  padding-right: 36px;
  height: 50px;
  overflow: hidden;
  width: auto;
}

.logo-np a {
  text-decoration: none;
}

.logo-np img {
  height: 100%;
  width: auto;
}
