.megamenu  {
  position: absolute;;
  top: 90px;
  left: 0;
  background: white;
  width: 100%;
}

.megamenu a {
  color: black;
}

.megamenu .menu {
  display: block;
  background: gray;
}

.megamenu .container {
  background: red;
}
