.megamenu  {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  background: white;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.megamenu a {
  color: black;
  font-size: var(--size-min);
  text-transform: uppercase;
}

.megamenu .menu {
  width: 100%;
}

.megamenu .menu > li {
  text-align: left;
  display: inline-block;
  width: 100%;
}

.megamenu .menu a {
  font-weight: var(--weight-bold);
}

.megamenu .dropdown a {
  font-weight: var(--weight-base);
}

@media (--screen-medium) {

  .megamenu .menu {
    display: flex;
    padding: calc(var(--space-large)*2);
  }

  .megamenu .menu > li {
    width: 50%;
  }

  .megamenu .dropdown li {}

  .megamenu .btn-icon {
    display: none;
  }

  .megamenu .menu-info li {
    text-align: center;
  }

  .megamenu .menu > li:nth-child(1) .dropdown,
  .megamenu .menu > li:nth-child(2) .dropdown {
    column-count: 2;
    width: 70%;
  }

}

@media (--screen-mobile) {

  .megamenu .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .megamenu li {
    position: relative;
  }

  .megamenu li:last-child {
    margin-bottom: 0;
  }

  .megamenu .btn-dropdown {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    font-size: var(--size-base);
    width: 40px;
    height: 40px;
  }

  .megamenu .btn-dropdown:--over {
    color: black;
  }

  .megamenu .dropdown {
    display: none;
  }

  .megamenu .menu a {
    padding: var(--space-base) 0;
    padding-left: var(--space-base);
  }

  .megamenu .dropdown a {
    padding-left: calc(var(--space-large)*2);
  }

}
