
.nav-main {
  width: auto;
  text-align: center;
}

.nav-main > * {
  margin-top: 70px;
}

.nav-main .menu > li {
  margin-left  : var(--space-base);
}

.nav-main .menu > li:first-child {
  margin: 0;
}

.nav-main li > a {
  text-transform: uppercase;
  font-size: var(--size-min);
  font-weight: var(--weight-bold);
  padding-left    : var(--space-base);
  position        : relative;
}

.nav-main li > a:hover {
  color : var(--gray-base);
}

.nav-main li:first-child > a::before {
  content: none;
}

.nav-main li > a::before {
  content: "/";
  position: absolute;
  left: 0;
}

.nav-main .item-drop:hover .dropdown {
  display: block;
}

.nav-main .dropdown {
  position: absolute;
  display: none;
  top: 90px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  color: white;
  overflow: hidden;
  background: white;
}
