.product-gallery {
  position: relative;
  display: block;
  height: auto;
  overflow-x: scroll;
}

.product-gallery-images {
  display: flex;
  transition: var(--transition-base);
}

.product-gallery::-webkit-scrollbar {
  height: 0;
}

.gallery-nav {
  display: none;
  position: absolute;
  top: calc(50% - 40px);
  font-size: 80px;
}

.gallery-nav.left {
  left: 6%;
}

.gallery-nav.rigth {
  right: 6%;
}

@media (--screen-medium) {

  .gallery-nav {
    display: block;
  }
}
