/*=========================================================================
02/D - FORM-BOX
=========================================================================*/

.form-control {
  display : block;
  width   : 100%;
  height  : auto;
}

.form-control > * {
  display : block;
  width   : 100%;
}

.form-inline {
  display : block;
  width   : 100%;
  height  : auto;
  margin  : calc(var(--space-base)*2) 0;
}

.form-inline > * {
  display: inline-block;
  width: auto;
}

.form-inline .form-control {
  display : inline-block;
  width   : auto;
  height  : auto;
  margin  : 0 var(--space-base);
}

.form-inline .form-control:first-child {
  margin-left : 0;
}

.form-inline .form-control:last-child {
  margin-right : 0;
}

.form-box {
  width   : 100%;
  display : block;
  padding : calc(var(--space-base)/2) var(--space-base);
  border  : var(--border-form);
  border-bottom: 0;
  box-sizing: border-box;
}

.form-box > label {
  display : inline-block;
  border  : none;
  width   : auto;
  margin-right: 20px;
}

.form-box > input,
.form-box > textarea {
  display : block;
  border  : none;
  width   : 100%;
  padding-left : 0;
  color: black;
  transition: var(--transition-base);
}

.form-box > input:focus,
.form-box > textarea:focus {
  border-left: 5px solid black;
  padding-left: var(--space-base);
}
