/*=========================================================================
05/C - CONTAINER
=========================================================================*/

.container {
  lost-center: var(--width-base);
}


.container.reset::before,
.container.reset::after {
  display: none;
}

@media (--screen-tablet) {
  .container {
    width: var(--width-tablet);
  }
}
