
.footer-np {
  border-top: var(--border-base);
}

.footer .form-wrap {
  width: 200px;
}

.footer-right {
  float: right;
  margin-top: 25px;
}

.footer-right > * {
  display: inline-block;
  width: auto;
  margin-left: calc(var(--space-base)*2);
}
