/*=========================================================================
05/B - HEADER
=========================================================================*/

.header-np {
  width: 100%;
  position: relative;
  z-index: 99999;
  padding: var(--space-base) 0;
}

.header-np .container {
  display: flex;
  justify-content: space-between;

}

.header-navegation {
  flex-grow: 2;
}

.header-info .menu,
.header-info a {
  font-size      : var(--size-min);
  font-weight    : var(--weight-bold);
  text-transform : uppercase;
  text-align     : right;
}

@media (--screen-small) {

  .header-np .container {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .header-info,
  .logo-np {
    width: 50%;
  }

  .header-navegation {
    order: 1;
  }

}
