.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: white;
}

.icon._small {
  width: .8em;
  height: .8em;
}

.icon._large {
  width: 1.2em;
  height: 1.2em;
}

.icon._extra {
  width: 1.8em;
  height: 1.8em;
}

.icon-search {
  width: 0.9285703003406525em;
}

.icon-user {
  width: 0.785713866353035em;
}

.icon-cross {
  width: 0.7857148498296738em;
}

.icon-tags {
  width: 1.0597098506987095em;
}

.icon-warning {
  width: 0.8571425080299377em;
}

.icon-info {
  width: 0.8571425080299377em;
}

.icon-plus {
  width: 0.785714827477932em;
}

.icon-minus {
  width: 0.7857138440012932em;
}

.icon-error {
  width: 0.8571425080299377em;
}

.icon-twitter {
  width: 0.9285703301429749em;
}

.icon-facebook {
  width: 0.5881709158420563em;
}

.icon-credit-card {
  width: 1.0714279003441334em;
}

.icon-pinterest {
  width: 0.8571387529373169em;
}

.icon-google-plus {
  width: 1.285714939236641em;
}

.icon-envelope {
  width: 1.0000021047890186em;
}

.icon-comments-o {
  width: 1.0000030547380447em;
}

.icon-left {
  width: 0.3750009909272194em;
}

.icon-right {
  width: 0.3392861280590296em;
}

.icon-up {
  width: 0.642861433327198em;
}

.icon-down {
  width: 0.6428574100136757em;
}

.icon-reply {
  width: 1.0000029690563679em;
}

.icon-instagram {
  width: 0.8571425420232117em;
}

.icon-whatsapp {
  width: 0.8571445941925049em;
}

.icon-vimeo {
  width: 1.0078124701976776em;
}
